<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<#list codeDtoList>
    <#items as codeDto>
        <span id="load_date"> ${codeDto.getDate()} </span>
        <br>
        <span id="views_restriction"> ${codeDto.getViews()} more views allowed </span>
        <br>
        <span id="time_restriction"> The code will be available for ${codeDto.getTime()} seconds </span>
        <br>
        <pre id="code_snippet"><code> ${codeDto.getCode()} </code></pre>
    </#items>
<#else>
    <p>No codes available</p>
</#list>
</body>
</html>
